.authsec{
    min-height: 100vh;
    margin: 0% auto;
    background-color: #f1f2f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    margin: 20px;
    margin-right: 30px;

}

.frm{
    width :100%;
padding : 20px;
background: #fff;
display: flex;
flex-direction: column;
justify-content: space-evenly;
box-shadow: 0 10px 25px rgb(0 0 0 / 5%);

}

.frm label input{
    padding: 10px;
    width :calc(100% - 30px);
    border : solid 1px #0000003e;
    font-size: 13px;
}
.logo2{
    font-size: 3rem;
    color: #ef8236;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bigbtn{
    padding:10px;
    margin-top: 30px;
        width: 97% ;
        border-radius: 4px;
        border: none;
        background:rgb(81, 164, 246);
     color: #fff;
        font-size: 13px;
       cursor: pointer;
}

.bigbtn:hover{
    background: rgb(34, 133, 232);
}
.bottom{
   
    
    gap:10px;
}
.bottom button{
border: none;
color: rgb(81, 164, 246);
}

.frgt{
color: rgb(81, 164, 246);
font-size: 0.7rem;
}

.chkbx{
    display: flex;
width: 20%;
    align-items:baseline;
 
margin-bottom: 0px;
   
    
 
}