.right-sidebar{
    float: right;
    width: 350px;
    margin: 37px 0px 15px 24px;
    font-size: 15px;
}

.widget{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 13px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 5%),
    -3px -3px 10px rgb(0 0 0 /5%)
}

.widget h4{
    background-color: hsl(47, 100%, 91%);
    margin: 0%;
    padding: 15px;
    border: solid 1px #f1e5bc;
}

.right-sidebar-div-1 {
    background-color:hsl(46, 88%, 87%) ;

    padding: 15px;
    border: 1px solid #f1e5bc;
}

.child-1, .child-2, .child-3{
display: flex;
align-items: center;
justify-content: flex-start;
}
 i{
    padding-right: 10px;
    margin-top: 0%;
}

.tags{
    font-size: 13px;
}

.tags h4{
    margin: 0%;
    padding: 15px;
   
  border: solid 1px #e3e6e8 ;
    background-color: #e1ecf4;
}

.tags-div{
display: flex;
flex-flow: row wrap;
align-items: center;
justify-content: space-evenly;
border:#e3e6e8 solid 1px;
padding: 10px;
gap: 1px;
}

.tags-div p{
    padding: 5px;
    background-color: #e1ecf4;
    color: #39739d;
    border-radius: 3px;
    
}
