.qdp{
   
width: calc(100% - 200px - 24px);
    float: left;
    margin: 25px 0px;
    padding: 0;
 font-size: 15px;
}

.qdt{
    display: flex;

    flex-direction: column;
  
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.112);
}
.qdt h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.qdt2{
    display: flex;
}

.qt{
    padding: 5px 20px 5px 10px;
}

.qt p{
    margin: 0%;
    font-size: 25px;
    text-align: center;
}

.qb{
    line-height: 22px;
    white-space: pre-line;
}

.qdtags{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.qdtags p, .post-ans p .ans-tag {
    padding: 5px 5px;
    margin: 3px;
    font-size: 13px;
    border-radius: 2px;
    background: #e1ecf4;
    color: #39739d;
line-height: 22px;
}


.qau{
    width: 100%;
    display: flex;
flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.qau button{
    background-color: transparent;
    border: none;
    padding: 5px 0px;
    margin: 0px 20px 0px 0px;
    color: #939292;
    
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
    text-decoration: none;
}

.qau button:hover{
    color: #000;
}

.qau div:nth-child(2) p,
.qau div:nth-child(2) .ulink{
    text-decoration: none;
    font-size: 13px;
    margin: 0%;
}

.ulink{
    margin: 0%;
    display: flex;
    align-items: center;

}

.ulink div{
    padding-left: 10px;
}

.post-ans{
    display: flex;
    flex-direction: column;
    border-top: solid 1px rgba(0, 0, 0, 0.112);
}

.post-ans p{
    display: flex;
    flex-wrap: wrap;
}

.post-ans form textarea{
    padding: 10px;
    border: solid 1px rgba(0, 0, 0, 0.3);
    font-family: sans-serif;
    width: calc(100% - 20px);
    resize: vertical;
}

.post-ans form .ansbtn{
    margin: 50px 0px;
        padding: 10px;
        background: #009dff;
        border: solid 1px #009dff;
        color: #fff;
     
        border-radius: 4px;
        cursor: pointer;
        transition: 0.3s;
}

.post-ans form .ansbtn:hover{
    background: #0078c3;
    
}

.post-ans p{
    display: flex;
    align-items: center;
}