.mainuser {
    display: flex;
    flex-direction: column;
    max-width: 1900px;
    width: calc(100% - 164px);
    padding: 3%;
    margin-top: 20px;
    box-sizing: border-box;
}

.user-list-container {
    padding: 10px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   
}

.user-profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    text-decoration: none;
    color: black;
}

.user-profile-link h3 {
    padding: 10px 16px;
    background-color: #d3d3d3;
    border-radius: 50%;
 
}
.user-profile-link h3:hover{
    background-color: #a4a4a4;
    color: #fff;
}

.user-profile-link h5 {
   margin: 0px 15px; 
}